<div>
    <ul>
        <li style="display:inline-block">
            <ul>
                <input type='text' class='form-control' id='movie_name' placeholder='영화를 입력하세요.'>
            </ul>
        </li>

        <li style="display:inline-block">
            <btn class="btn btn-success" id="search">검색</btn>
        </li>
    </ul>
</div>

